<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Change Password</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link href="../public/css/style.css" rel="stylesheet" type="text/css">
  </head>

<body>
    <div class="login-form">
        <% if(err) { %>
            <p style="color: red;">
                <%= err %>
            </p>
            <% } %>
                <h3>Change Password Page</h3>
                <form action="/changePass" method="POST">
                    <div class="input-group">
                        <label for="username">Old Password:</label>
                        <input type="password" name="oldpassword" required id="myInput"/>
                    </div>
                    <div class="input-group">
                        <label for="password">NewPassword:</label>
                        <input type="password" name="newpassword" required id="txtPassword" />
                    </div>
                    <div class="input-group">
                        <label for="password">Confirm-Password:</label>
                        <input type="password" name="password" required id="txtConfirmPassword" />
                    </div><br>
                    <input type="checkbox" onclick="myFunction()">Show Password <br>
                    <button onclick="return Validate()">Change</button>
                </form><br>
              </div>
    <script>
        function Validate() {
            var password = document.getElementById("txtPassword").value;
            var confirmPassword = document.getElementById("txtConfirmPassword").value;
                    if (password != confirmPassword) {
                alert("Passwords do not match.");
                return false;
            }
            return true;
        }
function myFunction() {
  var x = document.getElementById("myInput");
  var y = document.getElementById("txtPassword");
  var z = document.getElementById("txtConfirmPassword");
  
  
  if (x.type === "password" && y.type === "password" && z.type === "password" ) {
    x.type = "text";
    y.type = "text";
    z.type = "text";    
  } else {
    x.type = "password";
    y.type = "password";
    z.type = "password";  
  }
}

    </script>
</body>

</html>