<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Forget Password</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link href="../public/css/style.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
        integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link rel="stylesheet" href="https://bootswatch.com/4/journal/bootstrap.min.css" />
</head>
<style>

.error-show{
       color: red;
       text-align: center;
       max-width: 377px;
     }
</style>

<body>
    <div class="login-form">
        <% if(err) { %>
            <h3 style="color: red;">
                <%= err %>
            </h3>
            <% } %>
                <h3>Forget Password Page</h3>
                <form action="/forget" method="POST">
                    <div class="input-group">
                        <label for="username">Username:</label>
                        <input type="username" name="username" value="<%= formData.username %>" required />
                        <% if (errors.username) { %>
                            <div class="error-show">
                              <%= errors.username[0] %>
                            </div>
                          <% } %>
                    </div>
                    <div class="input-group">
                        <label for="password">NewPassword:</label>
                        <input type="password" name="password" id="txtPassword" required/>
                        <% if (errors.password) { %>
                            <div class="error-show">
                             <label>Password Should Be Like - Abc@123</label>
                            </div>
                          <% } %>
                    </div>

                    <div class="input-group">
                        <label for="password">Confirm-Password:</label>
                        <input type="password"  required id="txtConfirmPassword" />
                        <% if (errors.password) { %>
                            <div class="error-show">
                                <label class="error-show">Password Should Be Like - Abc@123</label>
                            </div>
                          <% } %>
                    </div>
                    <br>
                    <button onclick="return Validate()" class="see-post">Change</button>
                </form><br>
                <a href="/login" style="color: black; font-size: 20px;">Login</a><br><br>
    </div>
    <script>
        function Validate() {
            var password = document.getElementById("txtPassword").value;
            var confirmPassword = document.getElementById("txtConfirmPassword").value;
            if (password != confirmPassword) {
                alert("Passwords do not match.");
                return false;
            }
            return true;
        }
    </script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
        </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
        integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous">
        </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
        integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous">
        </script>
</body>

</html>